$primary-color: #f0a314; // Red color for highlights and buttons
$text-color: #666;
$background-color: #f8f8f8;
$button-padding: 10px 20px;
$font-size-base: 1rem;

.home-container {
  display: flex;
  flex-direction: column; // Stack items vertically on small screens
  align-items: center;
  padding: 20px; // Reduced padding for smaller screens
  background-color: $background-color;
  text-align: center;

  .home-content {
    max-width: 100%; // Full width on small screens
    margin-bottom: 20px; // Space between sections

    h1 {
      font-size: 2rem; // Adjust font size for smaller screens
      line-height: 1.2;
      margin-bottom: 15px;

      .name-highlight {
        color: $primary-color;
      }
    }

    h2 {
      font-size: 1.5rem; // Adjust font size for smaller screens
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9rem; // Smaller font size for mobile
      color: $text-color;
      margin-bottom: 20px;
      line-height: 1.4;
    }

    .home-buttons {
      display: flex;
      flex-direction: column; // Stack buttons vertically
      gap: 10px;

      button {
        padding: $button-padding;
        border: none;
        cursor: pointer;
        font-size: 0.9rem; // Adjust font size for smaller screens

        &.black-button {
          background-color: #f0a314;
          color: #fff;
        }

        &.red-button {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }

  .home-image {
    max-width: 100%; // Full width on small screens
    margin-top: 20px;
    border-radius: 50%; // Circular shape for small screens

    img {
      width: 100%;
      height: auto;
      border-radius: inherit; // Inherit the border-radius from .home-image
    }
  }
}

/* Scroll-triggered fade-in animation */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .home-container {
    flex-direction: row; // Align items in a row for larger screens
    justify-content: space-between;
    padding: 50px;
    text-align: left;

    .home-content {
      max-width: 50%; // 50% width for larger screens

      h1 {
        font-size: 3rem;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: $font-size-base;
        margin-bottom: 30px;
      }

      .home-buttons {
        flex-direction: row; // Align buttons horizontally
        gap: 20px;
      }
    }

    .home-image {
      max-width: 40%; // 40% width for larger screens
      border-radius: 50%; // Maintain circular shape on larger screens
    }
  }
}
